In [32]:
# Import Splinter and BeautifulSoup 
from splinter import Browser 
from bs4 import BeautifulSoup as soup 
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [21]:
# Set up Splinter // create instance of Splinter browser 
# **executable_path is unpacking dictionary we've stored path in
# headless =False means all browser's actions will be discplayed in 
# a Chrome window so we can see

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\diseg\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [22]:
# Visit the Mars NASA site 
url ='https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading page 
# 1) Sets <ul class="item_list"> as ul.item_list format
# 2) Delay helps as dynamic pages with images can take a bit to load
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [23]:
# Set up HTML parser 
html = browser.html 
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one("div.list_text")

In [24]:
# Begin scraping 
slide_elem.find("div", class_="content_title")

In [25]:
# Use the parent element (slide_elem) to find the first "a" tag and save it as "news_title" variable
news_title = slide_elem.find("div", class_="content_title").get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [26]:
# Now pull summary 
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

### Featured Images

In [27]:
# Visit URL 
url = "https://spaceimages-mars.com"
browser.visit(url)

In [28]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [29]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [30]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [31]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [33]:
# Scrape table using pandas .read_html() function

df = pd.read_html("https://galaxyfacts-mars.com/")[0]
df.columns=["description", "Mars", "Earth"]
df.set_index("description", inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [34]:
# Convert back to html 
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [35]:
browser.quit()